*{
	margin: 10px;
	padding: 0px;
	-moz-box-sizing: border-box;
	-word-box-sizing: border-box;
	box-sizing: border-box; 
}
div{
	
	
}
#mario1,#mario3{
	width: 250px;
	height: 150px;
	background-image:url(../img/imagen1.jpeg);
	                :url(../img/imagen3.jpeg);
	                :url(../img/imagen2.jpeg);
	background-position: bottom , top;    
	background-repeat: repeat-x,repeat-x, no-repeat;            
	border: 2px:solid blue;
	background-color: skyblue;
	
}
#mario2{
	width: 400px;
	height: 300px;
	background-image:url(../img/imagen1.jpeg);
	                :url(../img/imagen3.jpeg);
	                :url(../img/imagen2.jpeg);
	background-position: bottom,top;    
	background-repeat: repeat-x,repeat-x,no-repeat;            
	border: 2px:solid blue;
	background-color: skyblue;
}